.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

.portfolioLine {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    justify-content: space-between;
    align-items: center;
}

.productTickerContainer {
    height: 100%;
    display: flex;
    flex: 6;
}

.productTicker {
    height: 100%;
    margin-right: 8px;
    width: 100%;
    background-color: #1e1e1e;
    color: #fff;
    border: none;
    padding: 8px;
}

.productTicker:focus {
    outline: none;
}

.amountContainer {
    display: flex;
    height: 100%;
    flex: 4;
}

.amount {
    height: 100%;
    width: 100%;
    background-color: #1e1e1e;
    color: #fff;
    border: none;
    padding: 8px;
}

.amount:focus {
    outline: none;
}

.binContainer {
    margin-left: 8px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}